<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
      SocialKids no declara ningun permiso.
      No usa internet, ni camara, ni microfono, ni ubicacion, ni contactos.
      Todo el contenido y el progreso viven dentro del dispositivo.
    -->

    <application
        android:name=".SocialKidsApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/reglas_extraccion_datos"
        android:fullBackupContent="@xml/reglas_copia"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SocialKids.Splash">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:theme="@style/Theme.SocialKids.Splash"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
